/*
* ----- Global settings -----
*/
:root {
  --theme-color: rgb(116, 204, 255);
  --theme-shadow: 0 6px 10px rgba(116, 204, 255, 0.08),
    0 0 6px rgba(116, 204, 255, 0.05);
  --dark-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
  max-width: 40rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/assets/background-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hover {
  transition: 0.15s ease-in-out;
}

.hover:hover {
  transform: perspective(225px) translateZ(5px);
}

/*
* ----- Header -----
*/
#header-container img {
  width: 15rem;
  height: 13rem;
  object-fit: cover;
}

#header-container button {
  background-color: var(--theme-color);
  color: black;
}

#header-container input,
#header-container button {
  border: 1px solid var(--theme-color);
}

.play-text-container {
  text-align: center;
}

/*
* ----- Nav bar -----
*/
.navbar {
  margin-top: 1.5rem;
  width: 70%;
}

#navbarNavDropdown {
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 1rem;
  padding: 0.25rem;
  font-size: 2rem;
  text-align: center;
  box-shadow: var(--theme-shadow);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.nav-item:hover {
  background-color: #4646463a;
  border-radius: 10px;
  box-shadow: var(--dark-shadow);
}

.dropdown-item:hover {
  background-color: #4646463a !important;
  box-shadow: var(--dark-shadow);
}

/*
* ----- Content container -----
*/
#content-container {
  width: 70%;
  background-color: rgb(39, 38, 38);
  box-shadow: var(--theme-shadow);
}

#rules-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#cards-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 0.75rem;
}

/*
* ----- Home -----
*/
#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
}

#home-container img {
  width: 75%;
  border-radius: 5px;
  box-shadow: var(--dark-shadow);
}

/*
* ----- Discord -----
*/
#discord-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

#discord-text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 20rem;
}

#discord-container img {
  width: 15rem;
}

/*
* ----- Maps -----
*/
#maps-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

/*
* ----- Rules -----
*/
.card {
  border: none !important;
}

.card-body {
  box-shadow: var(--dark-shadow);
  background-color: rgb(44, 44, 44);
}

/*
* ----- Voting -----
*/
#voting-container h1,
#voting-container p {
  max-width: 40rem;
  text-align: center;
  margin: auto;
}

#voting-sites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2.5rem;
}

#voting-sites-container img {
  width: 12rem;
  height: 10rem;
}

.vote {
  text-align: center;
}

/*
* ----- Full screen -----
*/
@media (min-width: 90rem) {
  .navbar {
    margin-top: 0rem;
    width: 70%;
  }

  .nav-item {
    width: 10rem;
  }

  #header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  #discord-container {
    flex-direction: row;
    gap: 10rem;
  }

  #cards-container {
    align-items: center;
  }

  .card {
    width: 60rem;
  }

  #voting-sites-container {
    height: 35vh;
    flex-direction: row;
    gap: 5rem;
  }

  #voting-sites-container .vote {
    display: flex;
    flex-direction: column;
  }
}

/*
* ----- Mid screen -----
*/
@media (min-width: 50rem) and (max-width: 90rem) {
  #voting-sites-container .vote {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
