* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/assets/background-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#header-container img {
  width: 15rem;
  height: 13rem;
  object-fit: cover;
  transition: 0.15s ease-in-out;
}

#header-container img:hover {
  transform: perspective(225px) translateZ(5px);
}

#header-container button {
  background-color: rgb(116, 204, 255);
  color: rgb(0, 0, 0);
}

#header-container input,
#header-container button {
  border: 1px solid rgb(116, 204, 255);
}

.play-text-container {
  text-align: center;
}

.navbar {
  margin-top: 1.5rem;
  width: 70%;
}

#navbarNavDropdown {
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 1rem;
  padding: 0.25rem;
  font-size: 2rem;
  text-align: center;
  box-shadow: 0 6px 10px rgba(116, 204, 255, 0.08),
    0 0 6px rgba(116, 204, 255, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.nav-item:hover {
  background-color: #4646463a;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

#content-container {
  width: 70%;
  background-color: rgb(39, 38, 38);
  box-shadow: 0 6px 10px rgba(116, 204, 255, 0.08),
    0 0 6px rgba(116, 204, 255, 0.05);
}

#rules-header {
  text-align: center;
}

#cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 0.75rem;
}

.card {
  color: white;
}

.card-body {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(44, 44, 44);
}

#voting-container h1,
#voting-container p {
  text-align: center;
  max-width: 40rem;
  margin: auto;
  color: white;
}

#voting-sites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: white;
}

#voting-sites-container img {
  width: 10rem;
  height: 10rem;
  transition: 0.1s ease-in-out;
}

#voting-sites-container img:hover {
  transform: perspective(225px) translateZ(10px);
}

.vote {
  text-align: center;
}

@media (min-width: 90rem) {
  .navbar {
    margin-top: 0rem;
    width: 70%;
  }

  .nav-item {
    width: 10rem;
  }

  #header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  #cards-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: 30%;
  }

  #voting-sites-container {
    height: 35vh;
    flex-direction: row;
    gap: 5rem;
  }
}
